
/*----- intro page-----*/
body{
	background-color: floralwhite;
}

.intro {
	margin-top: 60px;
	padding: 10px;
	min-height: 400px;
	border-radius: 20px;
	border: none;
	background-color: #DDC3D0;
}
#rules {
	padding: 10px;
}
.title {
	font-size: 2em;
	margin:0;
}
.p1 {
	font-family: 'El Messiri', sans-serif;
	padding:0;
}
.p2 {
	font-family: 'Basic', sans-serif;

}
.buttonLevel{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;

}
.btnL{
	width: 100px;
	font-size: 1.2rem;
	line-height: 1.5;
	border-radius: 10px;
	border: none;
	color: #685029;
	margin-left: 5px;
	margin-top: 10px;
}
.btn{
	text-align:center;
}
#btn {
	width: 120px;
	font-size: 1.6rem;
	line-height: 2;
	border-radius: 10px;
	border: none;
	color: #336699;
	margin-top: 15px;
	background-image: linear-gradient(to top, #DBFCFF, #DBFCFF);
	box-shadow: 1px 1px 1px #bcbae1, inset 2px 3px 5px #7c78ba, inset -2px -3px 5px #305274;
}

#level1{
	background-image: linear-gradient(to top,#DBFCFF, #DBFCFF);
}
#level2{
	background-image: linear-gradient(to top,#81D2C7, #81D2C7);
}
#level3{
	background-image: linear-gradient(to top, #E0E0E2, #E0E0E2);
}
#level4{
	background-image: linear-gradient(to top, #96ADC8, #96ADC8);
}
#level5{
	background-image: linear-gradient(to top, #CEEAF7, #CEEAF7);
}
#cL {
	margin-left: 2%;
	color: #5A716A;
}
h1 {
	font-family: 'Lilita One', cursive;
	text-align: center;
	color: #5A716A;
}
h4 {
	padding:0px;
	margin: 2px;
}
p {
	padding: 5px 8px 5px 8px;
	color: #336699;
	text-align: justify;
	font-size: 22px;
	margin:20px;

}

/*----Board ---------*/


.board  {
	display: none;
	position: relative;
	padding : 1em;
	max-width: 620px;
	max-height: 620px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	margin:auto;
	margin-top:50px;
	background-image: url("https://image.freepik.com/free-photo/3d-network-background-with-connecting-lines-dots_1048-9850.jpg");
	background-size: cover;
	box-shadow: 1px 1px 1px #B3E5FC, ,
	            inset 5px 5px 8px #acd6e6,
	            inset -4px -3px 5px #B3E5FC, ;
}

table{
	width:100%;
	height: 100%;
	font-size: 1.2rem;
	table-layout: fixed;
	padding: 10px;
}
tr {
	margin: 10px;
	height: 100%;
}

.wrapper {
	border-radius: 50%;
	text-align:center;
	padding: 10px;
	height: 30px;
	width: 30px;
	background-image: url("https://image.freepik.com/free-vector/abstract-colorful-polygonal-background_38350-21.jpg");
	background-size: contain;
	-webkit-animation: rotation 3.5s infinite linear;

}
td {
	text-align: center;
	padding:5px;
}

.result {
	visibility: hidden;
	position: absolute;;
	background-color: #c8e6c9d6;
	top: 100px;
	left:0;
	max-width: 620px;
	width: 100%;
	min-height: 400px;
	box-sizing: border-box;
}
#over {
	font-size: 60px;
}
#scoreB {
	width: 38%;
	float:left;
	height: 20px;
	/*padding: 20x;*/
	margin-left: 40px;
	font-size: 18px;
}
#timerB {
	margin-left: 40px;
	height: 20px;
	width: 38%;
	float: right;
	font-size: 18px;
}

#back {
  width: 120px;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 10px;
  border: none;
  background-color: #F5F5F5;
  color:#6D4C41;
	
	margin-top: 20px;
}


button:focus, button:hover {
  background-image: linear-gradient(to bottom right, #888, #eee);
}

button:active {
  box-shadow: inset 2px 2px 1px black,
              inset 2px 3px 5px rgba(0,0,0,0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
}

.innerwrapper {
	font-family: 'Literata', serif;
		-webkit-animation: rotation 2.2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/*--- responsive----*/

/*---intro page---*/
@media(min-width: 700px){
	.container{
		text-align: center;
	}
	.btn {
		text-align: center;
	}
	.intro {
		align-items: center;
		margin: auto;
		margin-top:60px;
		padding : 1em;
		max-width: 600px;
		min-width: 400px;
		min-height: 400px;
		box-shadow: 1px 1px 1px #DBDAEA, inset 2px 3px 5px #9492ac, inset -2px -3px 5px #282461;

	}
}